.main-content {
  padding: 80px 2rem 1rem 2rem;
}


.home-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;   
  height: 50vh;
}


.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.charts-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}