.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f4f7f5;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000; 
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 15px;

  .icons {
    font-size: 25px;
    color: rgba(11, 45, 40, 0.998);
  }

  .app-title {
    color: #0e6d7a86;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
  }
}


.wrapper {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.user-info {
  display: flex;
  align-items: center;
  color: #28666E;
}

p {
  margin-right: 20px;
}